@model IEnumerable<events.tac.local.Models.BreadcrumbItem>

    <!-- [Breadcrumb Navigation] -->
    <ol class="breadcrumb">
        @foreach (var navitem in Model)
        {
            <li>
                <a class="@(navitem.Active ? "active" : string.Empty)" 
                   href="@navitem.URL">
                    @navitem.Title
                </a>
            </li>
        }
    </ol>
    <!-- [/Breadcrumb Navigation] -->