@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}



<nav class="navbar navbar-default navbar-static" id="mainNavbar">
    <div class="container">
        <!-- [Company Logo] -->
        <div class="navbar-left">
            <a class="navbar-brand" href="index.html">
                <span class="logo">
                    <img src="Images/Logo_400x60.png" alt="The Adventure Company" width="400" height="60" />
                </span>
            </a>
        </div>
        <!-- [/Company Logo] -->
       
    </div>
</nav>